<h1>AMP Workshop Contact</h1>

<p>
	Received a message from
	<strong>{{ name }} <a href="mailto:{{ email }}">{{ email }}</a></strong>
	through the {{ config.site_name }} Site
</p>

<p>
	{{ message }}
</p>